@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AddInLayout.cshtml";
}

<footer id="footer" class="footer ms-bgColor-neutralLight">
    <div class="container">

        @* Button to sign in to Office 365 *@
        <p align="center">
            <a href="~/AzureADAuth/Login" class="ms-Button ms-Button--primary"><span class="ms-Button-label">Connect to Office 365</span></a>
        </p>
    </div>
</footer>
