@*
Copyright (c) Microsoft Corporation.
Licensed under the MIT License.
*@

@{
    ViewData["Title"] = "AddinHome";
    Layout = "~/Views/Shared/_addinLayout.cshtml";
}
    <div id="content-main" class="ms-Grid" dir="ltr">
        <div class="ms-Grid-row" align="center">
            <h2 class="ms-font-l" id="welcome"></h2>
        </div>
        <div class="ms-Grid-row" align="center">
            <span id="licenseResult" ></span>
        </div>
        <div class="ms-Grid-row" align="center">
            <span id="errorResult"></span>
        </div>
    </div>
    <footer id="footer" class="footer ms-bgColor-neutralLight">
        <div class="container">

            @* Button to sign in to Office 365 *@
            <p align="center">
                <button id="loginO365PopupButton" class="popupButton ms-Button ms-Button--primary"><span class="ms-Button-label">Connect to Office 365</span></button>
            </p>
        </div>
    </footer>

@section scripts {
    <script src="~/js/addin/Office/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="~/js/addin/home.js" type="text/javascript"></script>
}
