@*
Copyright (c) Microsoft Corporation.
Licensed under the MIT License.
*@

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_addinLayout.cshtml";
}

@model dynamic

@{
    ViewBag.Title = "Login Error";

}

<h2>Login Error</h2>

<p>@ViewBag.Message</p>
